@import "../../assets/styles/main";

.make-regist {
  margin: 10px;
  position: fixed;
  bottom: 40%;
  right: 0;
  z-index: 999;
  width: 15%;
  font-weight: 100;

  .regist,
  .make-app {
    transition: transform 0.2s;
    height: 40px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: center;
    background-color: #ff4d4d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;

    &:hover {
      color: #0b364a;
    }
  }

  @media screen and (max-width: $maxlg) {
    display: none !important;
  }
}
